body {
    background-color: #0d0b14;
    
    color: white;
}
.navbar {
    background-color: #18212f;
}
.navbar-brand {
    color: #7d2ae8 !important;
    font-weight: bold;
}
.footer {
    background-color:#18212f;
    padding: 10px;
    text-align: center;
}
.product-image-container {
    background-color: #141024;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(125, 42, 232, 0.5); */
    border: none;
}
.product-image {
    max-width: 100%;
    border-radius: 10px;
}
.card {
    background-color: #141024;
    border-radius: 10px;
    padding: 20px;
}
.btn-primary {
    background-color: #7d2ae8;
    border: none;
}
.btn-primary:hover {
    background-color: #5c1bb2;
}
.details-box {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
.card{
    color: white;
}
.text-warning{
    color:  #937cdf !important;
}      
.info-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.info-box {
    background-color: #1f2937;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}
path {
    color: #7d2ae8;
 }