body {
    background-color: #0d0b14;
    color: white;
}

.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.cart-item {
    background-color: #181818;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
}

.total-box {
    background-color: #141024;
    padding: 20px;
    border-radius: 10px;
}

.checkout-btn {
    background-color: #431172;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.text-muted {
    color: white !important;
}
.input-design {
    width: 5% !important;
    background: #141024 !important;
   
    color: white;
    border: none;
}