body {
<<<<<<< HEAD:css/product.css
    background-color: #0d0b14;
    
    color: white;
=======
    margin-top: 110px !important;
>>>>>>> 10c82edc9f38306a828fb4b59290c5947108aed1:public/css/product.css
}

@media (max-width: 768px) {
    body {
        margin-top: 177px !important;
    }
    
    .row {
        gap: 15px !important; 
    }
}


.product-image-container {
    background-color: #141024;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    aspect-ratio: 1/0.957;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



.product-image {
    max-width: 100%;
    border-radius: 10px;
}
<<<<<<< HEAD:css/product.css
.card {
    background-color: #141024;
=======
.card1 {
    background-color: #111827;
>>>>>>> 10c82edc9f38306a828fb4b59290c5947108aed1:public/css/product.css
    border-radius: 10px;
    padding: 20px;
}
.btn-primary {
    background-color: #7d2ae8;
    border: none;
}
.btn-primary:hover {
    background-color: #5c1bb2;
}
.details-box {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}
.card1{
    color: white;
}
.text-warning{
    color:  #937cdf !important;
}      
.info-section {
    display: flex;
    gap: 10px;
}
.info-box {
    background-color: #1f2937;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
}

.card1 path {
    color: #7d2ae8;
 }